# Option 3: Recommendation

Task: Recommend item to the given customer id for a given date.
User Story: User should be able to provide a Customer ID and Date, and the program should be able to
recommend items to be purchased.

In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("Online Retail.csv")
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/10 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/10 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/10 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10 8:26,3.39,17850.0,United Kingdom

In [3]:
df.shape

(541909, 8)

In [4]:
df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [5]:
df.dropna(inplace=True)

In [6]:
df.isnull().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [7]:
df.shape

(406829, 8)

In [8]:
df['Dates'] = pd.to_datetime(df['InvoiceDate']).dt.date

In [9]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Dates
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10 8:26,2.55,17850.0,United Kingdom,2010-12-01
1,536365,71053,WHITE METAL LANTERN,6,12/1/10 8:26,3.39,17850.0,United Kingdom,2010-12-01
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/10 8:26,2.75,17850.0,United Kingdom,2010-12-01
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/10 8:26,3.39,17850.0,United Kingdom,2010-12-01
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10 8:26,3.39,17850.0,United Kingdom,2010-12-01

In [10]:
df=df.drop(['InvoiceDate'], axis=1)

In [11]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,Dates
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,17850.0,United Kingdom,2010-12-01
1,536365,71053,WHITE METAL LANTERN,6,3.39,17850.0,United Kingdom,2010-12-01
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,17850.0,United Kingdom,2010-12-01
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,17850.0,United Kingdom,2010-12-01
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,17850.0,United Kingdom,2010-12-01

In [12]:
df['Quantity']=abs(df['Quantity'])

In [13]:
df=df[df['Quantity']>5]

In [14]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,Dates
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,17850.0,United Kingdom,2010-12-01
1,536365,71053,WHITE METAL LANTERN,6,3.39,17850.0,United Kingdom,2010-12-01
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,17850.0,United Kingdom,2010-12-01
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,17850.0,United Kingdom,2010-12-01
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,17850.0,United Kingdom,2010-12-01

In [15]:
df['Dates']=df['Dates'].astype(str)

In [16]:
pt = df.pivot_table(index=['CustomerID','Dates'],columns='Description',values='Quantity')

In [17]:
pt.fillna(0,inplace=True)

In [18]:
pt

Description             4 PURPLE FLOCK DINNER CANDLES  \
CustomerID Dates
12346.0    2011-01-18                             0.0
12347.0    2010-12-07                             0.0
           2011-01-26                             0.0
           2011-04-07                             0.0
           2011-06-09                             0.0
...                                               ...
18283.0    2011-11-30                             0.0
           2011-12-06                             0.0
18287.0    2011-05-22                             0.0
           2011-10-12                             0.0
           2011-10-28                             0.0

Description             50'S CHRISTMAS GIFT BAG LARGE   DOLLY GIRL BEAKER  \
CustomerID Dates
12346.0    2011-01-18                             0.0                 0.0
12347.0    2010-12-07                             0.0                 0.0
           2011-01-26                             0.0                 0.0
           2011-04-07                             0.0                 0.0
           2011-06-09                             0.0                 0.0
...                                               ...                 ...
18283.0    2011-11-30                             0.0                 0.0
           2011-12-06                             0.0                 0.0
18287.0    2011-05-22                             0.0                 0.0
           2011-10-12                             0.0                 0.0
           2011-10-28                             0.0                 0.0

Description             I LOVE LONDON MINI BACKPACK   NINE DRAWER OFFICE TIDY  \
CustomerID Dates
12346.0    2011-01-18                           0.0                       0.0
12347.0    2010-12-07                           0.0                       0.0
           2011-01-26                           0.0                       0.0
           2011-04-07                           0.0                       0.0
           2011-06-09                           0.0                       0.0
...                                             ...                       ...
18283.0    2011-11-30                           0.0                       0.0
           2011-12-06                           0.0                       0.0
18287.0    2011-05-22                           0.0                       0.0
           2011-10-12                           0.0                       0.0
           2011-10-28                           0.0                       0.0

Description             OVAL WALL MIRROR DIAMANTE    RED SPOT GIFT BAG LARGE  \
CustomerID Dates
12346.0    2011-01-18                          0.0                       0.0
12347.0    2010-12-07                          0.0                       0.0
           2011-01-26                          0.0                       0.0
           2011-04-07                          0.0                       0.0
           2011-06-09                          0.0                       0.0
...                                            ...                       ...
18283.0    2011-11-30                          0.0                       0.0
           2011-12-06                          0.0                       0.0
18287.0    2011-05-22                          0.0                       0.0
           2011-10-12                          0.0                       0.0
           2011-10-28                          0.0                       0.0

Description             SET 2 TEA TOWELS I LOVE LONDON   \
CustomerID Dates
12346.0    2011-01-18                               0.0
12347.0    2010-12-07                               0.0
           2011-01-26                               0.0
           2011-04-07                               0.0
           2011-06-09                               0.0
...                                                 ...
18283.0    2011-11-30                               0.0
           2011-12-06                               0.0
18287.0    2011-05-22                               0.0
           2011-10-12                               0.0
           2011-10-28                               0.0

Description             SPACEBOY BABY GIFT SET   TRELLIS COAT RACK  ...  \
CustomerID Dates                                                    ...
12346.0    2011-01-18                      0.0                 0.0  ...
12347.0    2010-12-07                      0.0                 0.0  ...
           2011-01-26                      0.0                 0.0  ...
           2011-04-07                      0.0                 0.0  ...
           2011-06-09                      0.0                 0.0  ...
...                                        ...                 ...  ...
18283.0    2011-11-30                      0.0                 0.0  ...
           2011-12-06                      0.0                 0.0  ...
18287.0    2011-05-22                      0.0                 0.0  ...
           2011-10-12                      0.0                 0.0  ...
           2011-10-28                      0.0                 0.0  ...

Description            ZINC METAL HEART DECORATION  ZINC PLANT POT HOLDER  \
CustomerID Dates
12346.0    2011-01-18                          0.0                    0.0
12347.0    2010-12-07                          0.0                    0.0
           2011-01-26                          0.0                    0.0
           2011-04-07                          0.0                    0.0
           2011-06-09                          0.0                    0.0
...                                            ...                    ...
18283.0    2011-11-30                          0.0                    0.0
           2011-12-06                          0.0                    0.0
18287.0    2011-05-22                          0.0                    0.0
           2011-10-12                          0.0                    0.0
           2011-10-28                          0.0                    0.0

Description            ZINC STAR T-LIGHT HOLDER   ZINC SWEETHEART SOAP DISH  \
CustomerID Dates
12346.0    2011-01-18                        0.0                        0.0
12347.0    2010-12-07                        0.0                        0.0
           2011-01-26                        0.0                        0.0
           2011-04-07                        0.0                        0.0
           2011-06-09                        0.0                        0.0
...                                          ...                        ...
18283.0    2011-11-30                        0.0                        0.0
           2011-12-06                        0.0                        0.0
18287.0    2011-05-22                        0.0                        0.0
           2011-10-12                        0.0                        0.0
           2011-10-28                        0.0                        0.0

Description            ZINC SWEETHEART WIRE LETTER RACK  \
CustomerID Dates
12346.0    2011-01-18                               0.0
12347.0    2010-12-07                               0.0
           2011-01-26                               0.0
           2011-04-07                               0.0
           2011-06-09                               0.0
...                                                 ...
18283.0    2011-11-30                               0.0
           2011-12-06                               0.0
18287.0    2011-05-22                               0.0
           2011-10-12                               0.0
           2011-10-28                               0.0

Description            ZINC T-LIGHT HOLDER STAR LARGE  \
CustomerID Dates
12346.0    2011-01-18                             0.0
12347.0    2010-12-07                             0.0
           2011-01-26                             0.0
           2011-04-07                             0.0
           2011-06-09                             0.0
...                                               ...
18283.0    2011-11-30                             0.0
           2011-12-06                             0.0
18287.0    2011-05-22                             0.0
           2011-10-12                             0.0
           2011-10-28                             0.0

Description            ZINC T-LIGHT HOLDER STARS LARGE  \
CustomerID Dates
12346.0    2011-01-18                              0.0
12347.0    2010-12-07                              0.0
           2011-01-26                              0.0
           2011-04-07                              0.0
           2011-06-09                              0.0
...                                                ...
18283.0    2011-11-30                              0.0
           2011-12-06                              0.0
18287.0    2011-05-22                              0.0
           2011-10-12                              0.0
           2011-10-28                              0.0

Description            ZINC T-LIGHT HOLDER STARS SMALL  \
CustomerID Dates
12346.0    2011-01-18                              0.0
12347.0    2010-12-07                              0.0
           2011-01-26                              0.0
           2011-04-07                              0.0
           2011-06-09                              0.0
...                                                ...
18283.0    2011-11-30                              0.0
           2011-12-06                              0.0
18287.0    2011-05-22                              0.0
           2011-10-12                              0.0
           2011-10-28                              0.0

Description            ZINC WILLIE WINKIE  CANDLE STICK  \
CustomerID Dates
12346.0    2011-01-18                               0.0
12347.0    2010-12-07                               0.0
           2011-01-26                               0.0
           2011-04-07                               0.0
           2011-06-09                               0.0
...                                                 ...
18283.0    2011-11-30                               0.0
           2011-12-06                               0.0
18287.0    2011-05-22                               0.0
           2011-10-12                               0.0
           2011-10-28                               0.0

Description            ZINC WIRE SWEETHEART LETTER TRAY
CustomerID Dates
12346.0    2011-01-18                               0.0
12347.0    2010-12-07                               0.0
           2011-01-26                               0.0
           2011-04-07                               0.0
           2011-06-09                               0.0
...                                                 ...
18283.0    2011-11-30                               0.0
           2011-12-06                               0.0
18287.0    2011-05-22                               0.0
           2011-10-12                               0.0
           2011-10-28                               0.0

[16872 rows x 3410 columns]

In [19]:
from sklearn.metrics.pairwise import cosine_similarity

C:\Users\mmand\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.1
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [20]:
similarity_scores = cosine_similarity(pt)

In [21]:
similarity_scores.shape

(16872, 16872)

In [22]:
pt.index[158]

(12415.0, '2011-07-19')

In [23]:
np.where(pt.index==(12346.0, '2011-01-18'))[0][0]

0

In [24]:
CustomerID=12347.0
Dates='2010-12-07'

In [25]:
np.where(pt.index==(CustomerID, Dates))[0][0]

1

In [56]:
def recommend(CustomerID,Dates):
    # index fetch
    index = np.where(pt.index==(CustomerID, Dates))[0][0]
    similar_items = sorted(list(enumerate(similarity_scores[index])),key=lambda x:x[1],reverse=True)[1:20]
    
    data = []
    for i in similar_items:
        item = []
        temp_df = df.loc[(df['CustomerID'] == pt.index[i[0]][0])&(df['Dates']==pt.index[i[0]][1]),'Description'].iloc[0]
        
        #item.extend(list(temp_df.drop_duplicates('Description')['Description'].values))       
        
        data.append(temp_df)
    
    return list(set(data))[0:4]

In [57]:
recommend(18283.0,'2011-11-30')

['BISCUIT TIN VINTAGE CHRISTMAS',
 'CHILLI LIGHTS',
 'TRADITIONAL MODELLING CLAY',
 "JUMBO BAG 50'S CHRISTMAS "]

In [29]:
import pickle
pickle.dump(pt,open('pt.pkl','wb'))

In [30]:
import pickle
pickle.dump(df,open('df.pkl','wb'))

In [38]:
import pickle
pickle.dump(similarity_scores,open('similarity_scores.pkl','wb'))